@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .menu-toggle {
    display: none;
  }
  .header-cont {
    align-items: center;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-link {
    padding: 0;
    font-size: 12px;
  }
  .hero {
    background-color: var(--background-color-hero-footer);
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tablet.jpg);
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-tablet.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    min-width: 500px;
    line-height: 1.07;
  }

  .mtlg-list {
    gap: 72px 24px;
    flex-direction: unset;
    flex-wrap: wrap;
  }
  .mtlg-item {
    width: calc((100% - 24px) / 2);
  }
  .mtlg-title {
    text-align: left;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset;
    gap: 64px 24px;
    justify-content: center;
  }
  .team-card {
    width: calc((100% - 24px) / 2);
    max-width: 264px;
  }
  .customers-list {
    gap: 64px 24px;
    justify-content: center;
  }
  .footer-container {
    padding-left: 108px;
    gap: 72px 24px;
  }
  .logo-text-cnt {
    margin: 0;
  }
  .footer-logo-link {
    text-align: start;
  }

  .soc-container {
    margin: 0;
    text-align: unset;
  }
  .form-subscribe {
    flex-direction: unset;
    gap: 24px;
  }
  .subscribe-text {
    text-align: left;
  }
  .subscribe-cnt {
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  /* header */
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .address-list {
    flex-direction: unset;
    gap: 40px;
  }
  .address-link {
    font-size: 16px;
  }
  /* hero */
  .hero {
    background-color: var(--background-color-hero-footer);
    padding-top: 188px;
    padding-bottom: 188px;

    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img-min.jpg);
  }
  .hero-title {
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    text-transform: unset;
    font-size: 56px;
    line-height: 1.28;
    letter-spacing: 1.12px;
  }

  .mtlg-list {
    display: flex;
    gap: 24px;
  }
  .mtlg-item {
    width: calc((100% - 72px) / 4);
  }
  .mtlg-icon {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: var(--accent-background-color);
    border-radius: 4px;
  }
  .mtlg-title {
    font-size: 20px;

    font-weight: 500;
    line-height: 24px;
  }
  .mtlg-item .mtlg-text {
    font-weight: 400;
  }
  .section-about {
    padding: 0 0 120px 0;
  }
  .section-title-about {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .about-list {
    display: flex;
    gap: 24px;
  }
  /* footer */
  .footer {
    padding: 100px 0px;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: unset;
  }
  .logo-text-cnt {
    margin-right: 120px;
  }
  .soc-container {
    margin-right: 79px;
    text-align: unset;
  }
  .footer-soclist {
    margin-bottom: 0;
  }
}
@media (min-width: 320px) and (max-width: 428px) {
  .modal {
    width: 95%;
    max-width: 392px;
    height: 95%;
    max-height: 584px;
    overflow: scroll;
  }
}
