:root {
  --color-page: #ffffff;
  --background-color-hero-footer: #2e2f42;
  --accent-background-color: #f4f4fd;
  --text-color-p: #434455;
  --text-color-accent: #4d5ae5;
  --border-header-footer: #e7e9fc;
  --color-link-active: #404bbf;
  --icon-color: #8e8f99;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: #ffffff;
  line-height: 1.5;
  color: #434455;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  color: #2e2f42;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px 0 15px;

  margin-left: auto;
  margin-right: auto;
}
/* header */
.header {
  border-bottom: 1px solid var(--border-header-footer);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-cont {
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav {
  color: #2e2f42;
}
.nav-list {
  display: flex;
  gap: 40px;
}
/* logo */

.logo-link {
  display: block;
  padding: 24px 0;
  align-items: center;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--text-color-accent);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-textstudio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--background-color-hero-footer);
}
.logo-link:focus,
.logo-link:hover {
  color: var(--color-link-active);
}
/* nav */

.nav-link {
  display: block;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:focus,
.nav-link:hover {
  color: var(--color-link-active);
}

.active {
  position: relative;
  color: var(--color-link-active);
}
.nav-link.active::after {
  position: absolute;
  content: "";
  display: block;
  height: 4px;
  background-color: var(--color-link-active);
  width: 100%;
  left: 0px;
  bottom: -1px;
  border-radius: 2px;
}

/* address ========================================*/

.address {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: var(--text-color-p);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:focus,
.address-link:hover {
  color: var(--color-link-active);
}

/* hero ==========================================*/

.hero {
  background-color: var(--background-color-hero-footer);
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img-min.jpg);
}

.hero-title {
  display: flex;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
  font-weight: 700;
  line-height: 1.07;
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  color: var(--color-page);
}
button {
  margin: 0 auto;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.hero-button {
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--text-color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:focus,
.hero-button:hover {
  background-color: var(--color-link-active);
}

/* section2 =======================================*/

.section-mtlg {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.mtlg-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mtlg-list {
  display: flex;
  gap: 24px;
}
.mtlg-item {
  width: calc((100% - 72px) / 4);
}
.mtlg-icon {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: var(--accent-background-color);
  border-radius: 4px;
}
.mtlg-item .mtlg-text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color-p);
}

/*= section 3   About us======================================================= */

.section-about {
  padding: 0 0 120px 0;
}
.section-title-about {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.about-list {
  display: flex;
  gap: 24px;
}

/* =======section 4 our team ===============================*/

.section-our-team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-title-team {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-our-team {
  background-color: var(--accent-background-color);
}
.team-list {
  display: flex;
  gap: 24px;
}
.name-position-cnt {
  padding: 32px 0px 32px;
}
.team-name {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-position {
  text-align: center;
  color: var(--text-color-p);
  letter-spacing: 0.02em;
}
.team-soclist {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 24px;
}

.team-soclink {
  display: flex;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: var(--text-color-accent);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soclink:hover,
.team-soclink:focus {
  background-color: var(--color-link-active);
}

.soclink-icon {
  fill: var(--accent-background-color);
}
.team-card {
  width: 264px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

/* ==================section 5 customers======== */

.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-title-customers {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.customer-link {
  display: flex;
  padding: 16px 32px;
  width: 168px;
  height: 88px;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--color-link-active);
  color: var(--color-link-active);
}

.customer-link:hover .customers-icon,
.customer-link:focus .customers-icon {
  fill: currentColor;
}
.customers-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =============footer======================= */

.footer {
  padding: 100px 0px;
  background-color: var(--background-color-hero-footer);
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-accent);
}
.footer-logo-textstudio {
  color: var(--accent-background-color);
}
.logo-text-cnt {
  margin-right: 120px;
}
.footer-text {
  max-width: 264px;
  letter-spacing: 0.02em;
  color: var(--accent-background-color);
}
.soc-container {
  max-width: 208px;
  margin-right: 80px;
}
.soc-container .footer-text {
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--color-page);
}

.footer-soclist {
  display: flex;
  gap: 16px;
}
.footer-soclist-item {
  display: flex;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: var(--text-color-accent);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.footer-soclink {
  display: flex;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: var(--text-color-accent);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soclink:hover,
.footer-soclink:focus {
  background-color: #31d0aa;
}
.footer-soclink-icon {
  fill: var(--accent-background-color);
}
.subscribe-cnt {
  width: 453px;
}
.subscribe-text {
  font-weight: 500;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  color: var(--color-page);
}
.form-subscribe {
  display: flex;

  gap: 24px;
}
.subscribe-label {
  width: 264px;
  height: 40px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  background-color: inherit;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}
.subscribe-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  min-width: 165px;
  height: 40px;
  background-color: var(--text-color-accent);
  border: none;
  border-radius: 4px;
  color: var(--color-page);
}
.subscribe-icon {
  fill: currentColor;
  margin-left: 16px;
}

/* page2 Portfolio */

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filters-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.filters-button {
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--accent-background-color);
  color: #4d5ae5;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters-button:hover,
.filters-button:focus {
  color: var(--color-page);
  background: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  list-style-type: none;
}
.portfolio-link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item {
  width: calc((100% - 48) / 3);
}
.box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: var(--text-color-accent);
  color: var(--accent-background-color);

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.box-info {
  padding: 32px 16px;
  border: 1px solid var(--border-header-footer);
  border-top: none;
}
.portfolio-card-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--background-color-hero-footer);
}
.portfolio-card-text {
  order: 0;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color-p);
}
/* modal window+++++++++++++++++++++++++++++++++++ */

.backdrop {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--transition), visibility var(--transition);
}

.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.btn-modal-close {
  position: absolute;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal-close:hover,
.btn-modal-close:focus {
  background-color: #404bbf;
  border: none;
}
.btn-modal-close:hover .modal-icon,
.btn-modal-close:focus .modal-icon {
  fill: #ffffff;
}

.modal-icon {
  fill: var(--background-color-hero-footer);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-color-hero-footer);
  margin-bottom: 16px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-text {
}
.modal-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  flex-direction: column;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icon-color);
  margin-bottom: 4px;
}

.input-cnt {
  position: relative;
  width: 360px;
  height: 40px;
  margin-bottom: 8px;
  margin-top: 4px;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #4d5ae5;
}

.modal-input-svg {
  position: absolute;
  fill: var(--background-color-hero-footer);
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--text-color-accent);
}

.input-cnt:hover .modal-input-svg,
.input-cnt:focus .modal-input-svg {
  fill: var(--text-color-accent);
}
.modal-label > textarea {
  margin-top: 4px;
  padding: 8px 16px;
  width: 360px;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}
.modal-label > textarea:hover::placeholder,
.modal-label > textarea:focus::placeholder {
  color: var(--text-color-accent);
}
.modal-label > textarea:hover,
.modal-label > textarea:focus {
  border-color: var(--text-color-accent);
}
